<?xml version="1.0"?>
<robot
  xmlns:xacro="http://www.ros.org/wiki/xacro"
  name="kuka_kr6">
  <!-- Parameters -->
  <xacro:include filename="$(find kuka_kr6_description)/urdf/common.xacro" />
  <!-- URDF Materials -->
  <xacro:include filename="$(find kuka_kr6_description)/urdf/materials.urdf" />
  <!-- Gazebo macros -->
  <xacro:include filename="$(find kuka_kr6_description)/urdf/gazebo.xacro" />

  <!-- KUKA KR6 -->
  
  <!-- KUKA Main -->
  <xacro:include filename="$(find kuka_kr6_description)/urdf/kuka_kr6.xacro" />
  <kuka_kr6 prefix="" />

</robot>