<launch>
	<arg name="gui" default="True" />

	<node name="rviz" pkg="rviz" type="rviz" respawn="false" output="screen" args="-d $(find kuka_interface)/config/shadow_interface.rviz"/>/>
	
	<group ns="shadow">
		<param name="robot_description" command="$(find xacro)/xacro.py '$(find kuka_kr6_description)/robots/kuka_kr6.urdf.xacro'" />

		<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
			<param name="robot_description" value="robot_description" />
			<param name="tf_prefix" value="shadow" />
		</node>
	</group>

</launch>