<launch>
	<arg name="gui" default="True" />
		
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find kuka_description)/robots/kuka_kr6.urdf.xacro'" />

    <node name="rviz" pkg="rviz" type="rviz" respawn="false" output="screen" args="-d $(find kuka_description)/config/config.rviz"/>/>

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
		<param name="use_gui" value="$(arg gui)" />
	</node>

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
</launch>