<launch>
  
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find kuka_kr6_description)/robots/kuka_kr6.urdf.xacro'" />
  
  
  <node name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="state_publisher">
    <remap from="joint_states" to="kuka_driver/joint_states" />
  </node>
  
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find kuka_model)/config/kuka-view.rviz" />

  <node pkg="kuka_driver" type="kuka_driver2" name="kuka_driver" output="screen"/>


    
</launch>
